clawler/miyoushe_clawler/data
clawler/miyoushe_clawler/__pycache__/
clawler/miyoushe_clawler/config.py
clawler/miyoushe_clawler/miyoushe_clawler.log
clawler/miyoushe_clawler/test.ipynb
clawler/all-MiniLM-L6-v2